body{
    background-image: url("https://cdn4.vectorstock.com/i/thumb-large/31/73/different-network-app-icons-seamless-pattern-vector-21873173.jpg");
    color: azure;
    font-family: serif;
}
div{
    text-align: center;
}