body{
    background-image: url("https://image.shutterstock.com/image-vector/vector-seamless-mobile-apps-pattern-260nw-283356059.jpg");
    color:deeppink;
    font-family: serif;
    background-size: cover;
}
div{
    text-align: center;
}